### CLion ###
.idea

### CMake ###
cmake-build-*/

### LaTex ###
/report/cvpr.sty
/report/report.aux
/report/report.log
/report/report.out
/report/report.synctex.gz
/report/report.tex
/slides/slides.aux
/slides/slides.log
/slides/slides.nav
/slides/slides.out
/slides/slides.snm
/slides/slides.synctex.gz
/slides/slides.tex
/slides/slides.toc
